{% extends "core/base.html" %}

{% block title %}{% if object %}Редактирование заказа{% else %}Добавление заказа{% endif %}{% endblock %}

{% block content %}
<div class="page-title">
    <h1>{% if object %}Редактирование заказа{% else %}Добавление заказа{% endif %}</h1>
    <a class="button" href="{% url 'order_list' %}">Назад</a>
</div>

{% if object %}
    <p><b>ID заказа:</b> {{ object.id }}</p>
{% endif %}

<form class="form-page" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="actions">
        <button type="submit">Сохранить</button>
        <a class="button" href="{% url 'order_list' %}">Отмена</a>
    </div>
</form>
{% endblock %}
