{% extends "core/base.html" %}
{% load static %}

{% block title %}{% if object %}{{ app_text.edit_item }}{% else %}{{ app_text.add_item }}{% endif %}{% endblock %}

{% block content %}
<div class="page-title">
    <h1>{% if object %}{{ app_text.edit_item }}{% else %}{{ app_text.add_item }}{% endif %}</h1>
    <a class="button" href="{% url 'product_list' %}">Назад</a>
</div>

{% if object %}
    <p><b>{{ app_text.item_id }}:</b> {{ object.id }}</p>
{% endif %}

<form class="form-page" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if object.photo %}
        <img class="preview" src="{{ object.photo.url }}" alt="{{ object.name }}">
    {% else %}
        <img class="preview" src="{% static 'images/picture.png' %}" alt="Нет фото">
    {% endif %}

    {{ form.as_p }}

    <div class="actions">
        <button type="submit">Сохранить</button>
        <a class="button" href="{% url 'product_list' %}">Отмена</a>
    </div>
</form>
{% endblock %}
